* {
	margin: 0;
	padding: 0;
}

body {
	font-family:"微软雅黑",Georgia,Serif;
	background-color: #a52031;
	-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;			
    -ms-transform-style: preserve-3d;			
     -o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 200px;
	color: #baa46b;
	font-size: 12px;
}

#list li {
	display: inline-block;
	width: 18%;
	float: left;
	background: #e1544a;
	margin: 0.3em 1%;
	padding: 0.7em 0;
	text-align: center;
}

b {
	color: #baa46b;
	font-size: 1.5em;
}

.thumb-detail b {
	font-size: 2em;
}

.thumb-detail>span>span {
	display: block;
	text-align: center;
}

h2 {
	color: #ffaa4b;
	font-size: 1.2em;
	text-align: center;
	margin: 1em 0;
	font-weight: 400;
}

#layers {
	display: none;
	position: fixed;
	background: #e1544a;
	-moz-border-radius: 5px;
 /* Firefox */
	-webkit-border-radius: 5px;
 /* Safari 和 Chrome */
	border-radius: 5px;
	top: 60%;
	left: 15%;
	width: 70%;
	text-align: center;
	z-index: 1000
}

#layers h3 {
	color:white;
	font-size: 1.2em;
	margin: 0.5em 0;
}

#layers h3 span {
	position: absolute;
right: 1em;
top: 0.1em;
color: #bc3d36;
cursor: pointer;
}

.tips {
	background-color: #7b7774;
width: 100%;
position: fixed;
top: 0px;
z-index: 99;
display: none;
opacity: 0.5;
filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */
}

.result {
	letter-spacing: 0.1em;
	color: white;
	margin: 1em 0 1.5em 0;
}
.result b {
	color: white;
}

.imgContent {
	position: relative;
	z-index: 1000;
	color: #bba967 !important;
}

.go,.sure {
	background-color: #f8c301;
	-moz-border-radius: 5px;
 /* Firefox */
	-webkit-border-radius: 5px;
 /* Safari 和 Chrome */
	border-radius: 5px;
	width: 40%;
	margin:0 auto;
	padding: 0.5em 0.1em;
	cursor: pointer;
	color: #d34a02;
}

.sure {
	margin-top: 1em;
	margin-bottom: 2em;
}

#aniDiv {
	display: none;
	position: absolute;
	z-index: 1;
}

#aniDiv span {
	color:red;
}

#aniDiv .thumb-detail>span{
	display: none;
}

.thumb {
	display: block;
	width: 20%;
	height: 140px;
	position: relative;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 5px;
	cursor: pointer;
	
}

.thumb-detail {
	background-color: #da4d43 !important;
}

.thumb-wrapper {
	display: block;
	width: 100%;
	height: 100%;
}

#thumbList img {
	width: 100%;
}

.thumb img {
	height: 100%;
	position: absolute;
	display: block;
}

.thumb .thumb-detail {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #eee;
	font-family: arial;
	font-weight: bold;
	-moz-border-radius: 4px;
 /* Firefox */
	-webkit-border-radius: 4px;
 /* Safari 和 Chrome */
	border-radius: 4px;
}

.thumb .thumb-detail>span {
	display: block;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-weight: bold;
	color: #ff9565;
	text-decoration: none;
	
}		
	
	/*
	* Without CSS3
	*/
.thumb.scroll {
	overflow: hidden;
}

.thumb.scroll .thumb-detail {
	bottom: -280px;
}
	
	
	/*
	* CSS3 Flip
	*/	
.thumb.flip {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

.thumb.flip .thumb-wrapper {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -moz-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.thumb.flip .thumb-detail {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.thumb.flip img,.thumb.flip .thumb-detail {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.thumb.flip .flipIt {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}